body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #171717;
}

.container {
    width: 100%;
}

section > * {
    margin: 0 auto;
    width: 1460px;
}

.navigation {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1460px;
}

.contact-us {
    display: flex;
}

.number-phone {
    margin-right: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.accent-color {
    color: #D6AF76;
}

.container-number {
    width: 218px;
    border: 1px solid #E4B564;
}

.number-item::before {
    content: url("../img/vector.svg");
    padding-right: 10px;
}

.number-item {
    color: #E4B564;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

}

.clients {
    background-color: #0E0E0E;
    height: 1075px;
}

.title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 128px;
}

.company-work {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
    margin-bottom: 41px;
}

.list-works {
    min-width: 1460px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas: "item1 item1 item2 item2 item3 item3"
"item4 item4 item4 item5 item5 item5";
    padding: 0;
    margin: 0 auto;
    gap: 27px 30px;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-works {

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.item1 {
    grid-area: item1;
    width: 467px;
    height: 468px;
    left: 230px;
    top: 373px;
    background: #634F2C;
}

.item2 {
    grid-area: item2;
    width: 467px;
    height: 468px;
    left: 731px;
    top: 373px;
    background: #B4A385;
}

.item3 {
    grid-area: item3;
    width: 467px;
    height: 468px;
    left: 1223px;
    top: 373px;
    background: #E4B564;
}

.item4 {
    grid-area: item4;
    width: 715px;
    height: 468px;
    left: 230px;
    top: 868px;
    background: #635A4A;
}

.item5 {
    grid-area: item5;
    width: 715px;
    height: 468px;
    left: 975px;
    top: 868px;
    background: #B08C4D;
}

.title-park {
    margin-bottom: 94px;
}

.list-cars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "cars-item1 cars-item2 cars-item3";
    padding-left: 0;
    margin-bottom: 191px;
    column-gap: 30px;
}

.container-cars-item1 {
    grid-area: cars-item1;
    display: grid;
    grid-template-rows: 313px 560px;
    row-gap: 24px;
    padding-left: 0;
    margin: 0;
}

.container-cars-item2 {
    grid-area: cars-item2;
    display: grid;
    grid-template-rows: 439px 405px;
    row-gap: 33px;
    padding-left: 0;
    margin: 0;
}

.container-cars-item3 {
    grid-area: cars-item3;
    display: grid;
    grid-template-rows: 255px 313px 277px;
    row-gap: 26px;
    padding-left: 0;
    margin: 0;
}

.link-car {
    width: 302px;
    height: 50px;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.color {
    color: #000000;
}

.uppercase {
    font-weight: bold;
}

.item-car1 {
    font-weight: 400;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    padding-top: 44px;
    padding-left: 52px;
}

.item-car2 {
    font-weight: 400;
    width: 467px;
    height: 439px;
    background: #242424;
    padding-top: 44px;
    padding-left: 51px;
}

.item-car3 {
    font-weight: 500;
    width: 467px;
    height: 255px;
    background: #1F1F1F;
    padding-top: 44px;
    padding-left: 48px;
}

.item-car4 {
    font-weight: 500;
    width: 467px;
    height: 560px;
    background: #1F1F1F;
    padding-top: 56px;
    padding-left: 52px;
}

.item-car5 {
    font-weight: 500;
    width: 467px;
    height: 405px;
    background: #E4B564;
    padding-top: 47px;
    padding-left: 52px;
}

.item-car6 {
    font-weight: 500;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    padding-top: 44px;
    padding-left: 48px;
}

.item-car7 {
    width: 467px;
    height: 277px;
    background: #0A0909;
    padding-top: 44px;
    padding-left: 48px;
}

.title-clients {
    margin-top: 0;
    padding: 0;
}

.container-clients-wrapper {
    padding: 161px 0 61px;
}

.container-projects {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
}

.link-projects {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.container-clients {
    display: flex;
    justify-content: space-between;
}

.list-project {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.address {
    text-align: center;
}

.list-projects {
    width: 487px;
    height: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-projects1 {
    background: #634F2C;
}

.item-projects2 {
    background: #E8D2AB;
}

.item-projects3 {
    background: #E4B564;
}

.item-projects4 {
    background: #635A4A;
}

.item-projects5 {
    background: #B08C4D;
}

.item-projects6 {
    background: #634F2C;
}


